.grid__item:hover .grid__item-title {
	color: white;
}

.choose .choose__price {
	font-size: 12.5px;
}

.centred-text {
	max-width: 600px;
	margin:    auto;
}

.product__image img {
	width:      100%;
	height:     100%;
	object-fit: contain;
}

.product__image {
	background-position: center;
	background-size: cover;
}

.additional-see {
	width: 100%;
	display: flex;
	justify-content: center;
}

.welcome__image {
	max-height: 400px;
}

.welcome__image img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.slider__link {
	width: 100%;
	height: 100%;
	display: block;
}